@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: hsl(212, 45%, 89%);
	font-family: 'Outfit', sans-serif;
}
.card{
	background: hsla(0,0%,100%,1.00);
	max-width: 320px;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	font-size: 15px;
	margin: 130px auto;
	align-self: center;
}
.card-img{
	max-width: 100%;
	border-radius: 10px;
}
.card h2{
	font-weight: 700;
	margin-top: 15px;
	color: hsl(218, 44%, 22%)
}
.card p{
	font-weight: 400;
	margin: 15px 0;
	color: hsl(220, 15%, 55%);
}
@media(max-width:350px){
	.card{
		margin: 20px auto;
	}
}
@media(max-width:1440px){
	.card{
		margin: 70px auto;
	}
}